################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TMM-16.VC.db
/TMM-16.VC.VC.opendb
/.vs/TMM-16/v14
